body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color:#fff;
 }

 ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 h1,h2,h3,h4,h5,h6, p {
        margin: 0;
 }

 a {
    text-decoration: none;
 }

 img {
         display: block;
         max-width: 100%;
         height: auto;
 }
/* common */
 .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
 }
/* header */

.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;
align-items: center;
}

.header-nav {
display: flex;
align-items: center;
}

.nav-list {
 display: flex;
 align-items: center;
 gap: 40px;
}

.contacts-list {
gap: 40px;
display: flex;
align-items: center;
}

 .logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
 }

.header-logo {
        padding: 24px 0;
        margin-right: 76px;
}

 .header-logo .logo-part {
color: #2e2f42;
 }

 .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link:hover,
 .nav-link:focus,
 .nav-link.current
 {
    color: #404bbf;
 }

 .nav-link.current {
position: relative;
 }

 .nav-link.current::after {
content: '';
width: 100%;
height: 4px;
left: 0;
bottom: -1px;
background-color:#404bbf;
border-radius: 2px;
position: absolute;
 }

 .contacts {
    font-style: normal;
    margin-left: auto;
 }

 .contacts-link {
        padding: 24px 0;
        display: block;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .contacts-link:hover,
 .contacts-link:focus {
    color: #404bbf;
 }
/* hero */
 .hero {
background-color: #2e2f42;
padding: 188px 0;
text-align: center;
 }

 .hero-title {
        font-weight: 700;
        font-size: 56px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto;
 }

 .hero-button {
         font-weight: 500;
         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.04em;
         color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        padding-block: 16px;
        padding-inline: 32px;
        border: none;
        margin-top: 48px;
        display: block;
        min-width: 169px;
        margin-left: auto;
        margin-right: auto;
 }

 .hero-button:hover,
 .hero-button:focus {
     background-color: #404bbf;
 }

/* features */

.features {
        padding-top: 120px;
        padding-bottom: 120px;
}

.visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        margin: -1px;
}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-list {
        display: flex;
        gap: 24px;
}

.features-item {
        width: calc((100% - 72px) / 4)
}

.features-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* team */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        text-transform: capitalize;
        margin-bottom: 72px;
        text-align: center;
        
}

.team-list {
        display: flex;
        gap: 24px;
}

.team-item {
        background-color: #FFFFFF;
        width: calc((100% - 72px) / 4);
        border-radius: 0 0 4px 4px;
}

.text-item {
        padding: 32px 0;
}

.team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* portfolio */

.portfolio {
        padding: 120px 0;
}

.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        text-transform: capitalize;
        margin-bottom: 72px;
        text-align: center;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
       
}

.portfolio-item {
        width: calc((100% - 48px) / 3);
        border-top: none;
}

.portfolio-item-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-img {
        width: 100%;
        height: auto;
        display: block;
}

.portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
}

.footer-logo .logo-part {
color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}